<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Pestt"
            id="pt.ul.fc.di.gloss.pestt.views.categories.pestt">
      </category>
      <view
            name="Control Flow Graph"
            icon="icons/sample.gif"
            category="pt.ul.fc.di.gloss.pestt.views.categories.pestt"
            class="pt.ul.fc.di.gloss.pestt.views.CFGView"
            id="pt.ul.fc.di.gloss.pestt.views.CFGView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="exemplo.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="pt.ul.fc.di.gloss.pestt.commands.category.pestt"
            name="Pestt">
      </category>
      <command
            categoryId="pt.ul.fc.di.gloss.pestt.commands.category.pestt"
            id="pt.ul.fc.di.gloss.pestt.commands.createCFG"
            name="Create Control Flow Graph">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="pt.ul.fc.di.gloss.pestt.handlers.CreateCFG"
            commandId="pt.ul.fc.di.gloss.pestt.commands.createCFG">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="pt.ul.fc.di.gloss.pestt.commands.createCFG"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="pt.ul.fc.di.gloss.pestt.menus.pesttMenu"
               label="Pestt"
               mnemonic="M">
            <command
                  commandId="pt.ul.fc.di.gloss.pestt.commands.createCFG"
                  id="pt.ul.fc.di.gloss.pestt.menus.createCFG"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="pt.ul.fc.di.gloss.pestt.toolbars.createCFG">
            <command
                  commandId="pt.ul.fc.di.gloss.pestt.commands.createCFG"
                  icon="icons/sample.gif"
                  id="pt.ul.fc.di.gloss.pestt.toolbars.createCFG"
                  tooltip="Create Control Flow Graph">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="pt.ul.fc.di.gloss.pestt.popups.pesttMenu"
               label="Pestt"
               mnemonic="E">
            <command
                  commandId="pt.ul.fc.di.gloss.pestt.commands.createCFG"
                  id="pt.ul.fc.di.gloss.pestt.popups.createCFG"
                  label="create CFG"
                  style="push">
               <visibleWhen>
                  <with
                        variable="activeMenuSelection">
                     <iterate>
                        <adapt
                              type="org.eclipse.jdt.core.IMethod">
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
